# Servidor
PORT=3000

# Base de Datos (Supabase)
SUPABASE_URL=https://xlnabahifwxbezdvjwna.supabase.co
# IMPORTANTE: En el backend usamos SERVICE_ROLE_KEY para evadir RLS cuando ingiramos datos. 
# El cliente frontal usará la ANON_KEY.
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhsbmFiYWhpZnd4YmV6ZHZqd25hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzA5NTgxNywiZXhwIjoyMDg4NjcxODE3fQ.opOmhXOjlO-rFkTUNPJhplvOx3VWGPB3NQyK8lUDbCI

# API Mercado Publico
MERCADO_PUBLICO_TICKET=F06873CE-C84C-4556-A364-19496B62D828
